@tailwind base;
@tailwind components;
@tailwind utilities;

.dei-button {
  background: linear-gradient(136deg, #fff0d3 0%, #d5953b 100%);
  color: #0d0f12;
}

.dei-button {
  border: none;
}
/* starts with antd */
.ant-pagination .ant-pagination-options-quick-jumper input {
  color: black;
}
td {
  border-bottom: none !important;
}
td.ant-table-cell-row-hover {
  background-color: #292d33 !important;
}

th {
  border: none !important;
}

.ant-table-thead > tr > th {
  background-color: #121418 !important;
  color: #78808e !important;
  font-weight: 400 !important;
  font-size: 13px !important;
}
.ant-table-thead > tr > th::before {
  display: none;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-right: none;
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  justify-content: center;
}

/* ends with antd */
